<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Some Webpage</title>
    {{> styleProp}}
</head>
<body>
    <div class="main">
        {{> header}}
        <hr>
        <p>Some text</p>
        {{> footer}}
    </div>
</body>

</html>