<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Some Webpage</title>
  {{> styleProp}}
</head>
<body>
    <div class="main">
        {{> header}}
        <hr>
        <h3>{{screamIt welcomeMsg}}</h3>
        {{> footer}}
    </div>
</body>

</html>