<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Some Webpage</title>
    </head>
    <body>
         {{> header}}
        <h3>{{screamIt welcomeMsg}}</h3>
        {{> footer}}
    </body>
</html>